name: ci

on:
  push:
    branches:
      - "master"

jobs:
  manylinux228_x86_64_with_deps-build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push amd64
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile228
          platforms: linux/amd64
          push: true
          # This section is not necessary as this is the default in the Dockerfile,
          # Added to be explicit
          build-args: |
            IMAGE=quay.io/pypa/manylinux_2_28_x86_64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/manylinux228_x86_64_with_deps:latest
